<!--TODO: embed links with photos-->
<section>
  <div>
    <ul>
      <li><img src="../../assets/images/socialAccounts/Instagram.svg" alt="Instagram Account"></li>
      <li><img src="../../assets/images/socialAccounts/Snapchat.svg" alt="SnapChat Account"></li>
      <li><img src="../../assets/images/socialAccounts/Tumblr.svg" alt="Tumblr Account"></li>
      <li><img src="../../assets/images/socialAccounts/Twitter.svg" alt="Twitter Account"></li>
      <li><img src="../../assets/images/socialAccounts/YouTube.svg" alt="YouTube Account"></li>
    </ul>
  </div>
</section>
