<!--TODO: embed links with photos-->
<section>
  <div>
    <ul style="background-color: black">
      <li><img src="../../../src/assets/images/inst.svg" alt="Legends Barbershop LLC Instagram Account"></li>
      <li><img src="../../../src/assets/images/snap.svg" alt="Legends Barbershop LLC SnapChat Account"></li>
      <li><img src="../../../src/assets/images/tum.svg" alt="Legends Barbershop LLC Tumblr Account"></li>
      <li><img src="../../../src/assets/images/twitter.svg" alt="Legends Barbershop LLC Twitter Account"></li>
      <li><img src="../../../src/assets/images/you.svg" alt="Legends Barbershop LLC YouTube Account"></li>
    </ul>
  </div>
</section>
