<section>

  <!--Contact-->
  <div>
    <ul>
      <li>
        <h2>{{ address }}</h2>
      </li>
      <li>
        <h2>{{ phone }}</h2>
      </li>
    </ul>
  </div>
  <img src="https://placeimg.com/400/375/any" alt="">

  <!--Contact-->
  <div>
    <ul>
      <li><i class="material-icons">&#xE0CD;</i>Call</li>
      <li><i class="material-icons">&#xE0E1;</i>Email</li>
      <li><i class="material-icons">&#xE0C8;</i>Direction</li>
    </ul>
  </div>

  <!--Social Media Account-->
  <app-social-media></app-social-media>


  <!--Footer-->
  <app-footer></app-footer>

  <!--News Letters-->
  <app-news-letter></app-news-letter>

</section>
